.App {
  text-align: left;
}

body {
  background-color: rgba(245, 245, 234, 0.952);
}

.leftside {
  color: white;
  display: flex;
  flex-direction: column;
}

.leftside > Button {
  background-color: rgba(245, 245, 234, 0.952);
  border: none;
  color: black;
  text-align: left;
}

.sideicon {
  color: blue;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#facebook-banner {
  color: rgb(67, 67, 252);
}

.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  outline: none;
  border: none;
  background: #f3f2f2c2;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  margin-right: -10px;
}

.searchInput {
  width: 100%;
  height: 2.8rem;
  background: #f3f2f2c2;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  font-size: 1rem;
}

#myPost {
  padding-left: 0.9rem;
}

#topSearch {
  padding: 0 -5rem 0 1.5rem;
}

.header-search > .searchInput {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.right-header-btns {
  background-color: rgba(245, 245, 234, 0.952);
  border-radius: 50%;
}

.interaction-btns > Button {
  width: 33%;
  background-color: rgb(255, 255, 255);
  border: none;
  color: black;
}

.title-btns > Button {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  color: black;
}

.rightside {
  display: flex;
  flex-direction: column;
  padding-left: 3em;
}

.rightsidebar-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightsidebar-heading Button {
  background-color: rgba(245, 245, 234, 0.952);
  border: none;
  color: grey;
  font-size: 20px; 
}

.rightsidebar-profiles Button {
  background-color: rgba(245, 245, 234, 0.952);
  border: none;
  color: black;
  margin-left: -10px;
  width: 100%;
  text-align: left;
}

.rightsidebar-profiles {
  display: flex;
  flex-direction: column; 
}


.rightsidebar-profiles img {
  margin-right: 10px;
  border-radius: 50%;
  height: 27px;
}

.tab-unactive {
  text-align: center;
  width: 50%;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.6;
  background: white;
  border: 0;
  border-radius: 5%;
}

.tab-active {
  text-align: center;
  width: 50%;
  font-size: 20px;
  cursor: pointer;
  color: blue;
  background: white;
  border: none;
  border-bottom: 2px solid blue;
}


#main-content {
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 234, 0.952);
}

.post {
  margin-top: 15px;
  border-width: 0.25px 0.5px 1px 0.5px;
  background-color: white;   
}

.post-header {
  padding: 5px;
  margin-left: 5px;
}

.reaction-btns {
  color: white;
  border-radius: 50%;
  border: #f5f5f5 1px solid;
  font-size: 25px;
  padding: 2px;
}

.likes {
  background-color: blue;
  margin-right: -5px;
  z-index: 1;
}

.hearts {
  background-color: rgb(231, 10, 10);
  z-index: 2;
}

.top-post-headers {
  align-items: baseline;
}

.top-post-headers > * {
  margin: 5px;
}

#stories-sentences > div {
  padding: 15px 5px 15px 3px;
}

.smallImage {
  width: 40px;
  border-radius: 50%;
  display: inline;
  margin-right: 10px;
}

#myPostPic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.myPost-btns {
  background-color:white;
}
