.App {
  text-align: left;
}

body {
  background-color: rgb(238, 233, 233);
}

.leftside {
  color: white;
  display: flex;
  flex-direction: column;
}

.leftside > Button {
  background-color: rgb(238, 233, 233);
  border: none;
  color: black;
  text-align: left;
}

.sideicon {
  color: blue;
  margin-right: 10px;
}

#facebook-banner {
  color: rgb(67, 67, 252);
}

.header {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.header Button {
  background-color: rgb(238, 233, 233);
  border-radius: 50%;
}

.interaction-btns > Button {
  width: 33%;
  background-color: rgb(255, 255, 255);
  border: none;
  color: black;
}

.title-btns > Button {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  color: black;
}

.rightside {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
}

.rightsidebar-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.rightsidebar-heading Button {
  background-color: rgb(238, 233, 233);
  border: none;
  color: grey;
  font-size: 20px; 
}

.rightsidebar-profiles Button {
  background-color: rgb(238, 233, 233);
  border: none;
  color: black;
  margin-left: -10px;
  width: 100%;
  text-align: left;
}

.rightsidebar-profiles {
  display: flex;
  flex-direction: column; 
  
}


.rightsidebar-profiles img {
  margin-right: 10px;
  border-radius: 50%;
  height: 27px;
}