.App {
  text-align: left;
}

body {
  background-color: rgb(238, 233, 233);
  
}

.leftside {
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 10px;
  height: 86vh;
}

.leftside > Button {
  background-color: rgb(238, 233, 233);
  border: none;
  color: black;
  text-align: left;
}

.sideicon {
  color: blue;
  margin-right: 10px;
}

.friends {
  margin: 3px;
  padding: 5px;
}

.friends > img {
  margin-right: 10px;
  border-radius: 50%;
}